/* All Views (5 JSP files) will be found in /BeheiraPortal/src/main/webapp/WEB-INF/views/ */

.cur_title {
	float: left;
	font-weight:bold;
	padding: 0px 20px 0px 40px;
	height: 25px;
	width: 500px;
	text-align:right;
	font-size: 36px;
	color:#afa;
	text-shadow: -1px 2px #ff0;
}

#extra {
	height: 614px;
	width: 100%;
}

.extra_noheight {
	width: 100%;
}

#infowindow {	
	background-color: #eee;	
	right: 0px;	
	position: absolute; 	
	top: 144px; 	
	height: 550px; 	
	width: 20%; 
}

#clip {
	position: absolute;
}

#floating-panel {             
	background-color: #fff;
}

#map {
	height: 618px;
	width: 100%;
}

.outertable {	
	border-collapse: collapse; 	
	width: 500px; 	
	text-align: right; 	
	padding: 8px; 	
	border: 1px solid black; 
}

.th { 	
	border-collapse: collapse; 	
	width: 500px; 	
	text-align: right; 	
	padding: 8px; 	
	border: 1px solid black; 
}

.td { 
	font: bold 12px Arial; 
	border-collapse: collapse; 	
	width: 500px;	
	text-align: right; 	
	padding: 8px; 	
	border: 1px solid black; 
}

.td-button { 
	font: bold 12px Arial; 
	border-collapse: collapse; 	
	text-align: right; 	
	padding: 12px; 	
}

.innertable {	
	border-collapse: collapse;	
	width: 100%;	
	text-align: right;	
	padding: 8px;	
	border: 1px solid black;
}

.rightcolumn {
	font: bold 12px Arial; 
	background-color: #44a959; 	
	color: white; 	
	width: 30%; 	
	border-collapse: collapse; 	
	text-align: right; 	
	padding: 8px; 
	border: 1px solid black; 	
	border-collapse: collapse;
}

.infowindowimg {
	display: block; 	
	margin-left: auto; 	
	margin-right: auto;
}

.divider {
	width: 5px; 	
	height: auto; 	
	display: inline-block;
}

.button {
	font: bold 14px Arial; 	
	text-decoration: none; 	
	background-color: #bbffbb; 	
	color: black; 	
	padding: 8px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}

.button:hover, .button:focus, .btnsearch:hover, .btnsearch:focus {
	background-color: #44a959;
	color: #bbffbb;
	text-decoration: none;
	cursor: pointer;
}

input.input-box {
	background-color: #bbffbb;/*#fdddad;*/
	color: black;
	font-weight:bold;
	padding: 2px;
	text-align: right;
	text-decoration: none;
}

.voucherTA {
	width: 250px;
	background-color: #bbffbb;
	color: #44a959;
	padding: 2px;
	text-align: right;
	text-decoration: none;
}

.searchClose, .voucherClose {
	color: #aaaaaa;
	float: left;
	font-size: 28px;
	font-weight: bold;
}

.searchClose:hover, .searchClose:focus, .voucherClose:hover,
	.voucherClose:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.resulttr:nth-child(odd) {
	background-color: #cfdcdd;
}

.formheader {
	background-color: #44a959;
	border-radius: 10%;
	color: white;
	font: bold 40px Arial;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

input.readonly-box {
	background-color: #dddddd;
	color: #444444;
	font: bold 14px Arial;
	padding: 2px;
	text-align: right;
	text-decoration: none;
}

.btnsearch {
	font: bold 24px Arial;
	text-decoration: none;
	background-color: #44a959;
	color: white;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-radius: 12%;
}

.btnsearch:hover, .btnsearch:focus {
	background-color: #bbffbb;
	color: #44a959;
	text-decoration: none;
	cursor: pointer;
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 0px solid #888;
}

.searchClose, .voucherClose {
	color: #aaaaaa;
	float: left;
	font-size: 28px;
	font-weight: bold;
}

.resultth {
	padding: 12px;
	background-color: #44a959;
	color: white;
	font-weight:bold;
	text-align: center;
	font-size: 20px;
}

.text-block {
	padding: 20px 80px 20px 80px;
	color: #004400;
	text-align: justify;
	direction:rtl;
	font-size: 24px;
}

.links {
	padding: 20px 80px 20px 80px;
	color: #800000;
	text-align: justify;
	direction:rtl;
	font-size: 20px;
}

.resulttr {
	padding-top: 8px;
	padding-bottom: 8px;
	color: black;
	text-align: center;
	font-size: 18px;
}

.slidecontainer { 
	width: 50%;
}

.slider {
    -webkit-appearance: none;
    height: 25px;
    width: 500px;
    background: #d3d3d3;
    opacity: 0.7;
    position:relative;
}

.slider:hover { 
	opacity: 1;
}

.slider::-webkit-slider-thumb {  
	-webkit-appearance: none; 
	appearance: none;  
	width: 15px; 
	height: 25px; 
	background: #44a959; 
	cursor: e-resize;
}

.slider::-moz-range-thumb {
	width: 15px; 
	height: 25px; 
	background: #44a959;
	cursor: e-resize;
}

